/*****************************************
**********1450px**************************
*****************************************/
@media screen and (max-width: 90.625rem){
    .footer-elements{ 
        display: flex; 
        flex-direction: column;}
}

.footer-chapter{
    width: 80%;
}


/*****************************************
**********1100px**************************
*****************************************/
@media screen and (max-width: 68.75rem){
    .footer-chapter{
        width: 80%;
    }
   
    .footer-text{ 
        display: flex; 
        flex-direction: row;
        justify-content: space-between!important;    
    }
}


/*****************************************
**********700px**************************
*****************************************/
@media screen and (max-width: 43.75rem){
  nav{
      display: flex;
      flex-direction: column;
  }

  .sml-screen-basket{
      
        display: flex;
        
  }
}


/*****************************************
**********500px**************************
*****************************************/
@media screen and (max-width: 31.25rem){
    .sml-screen{ 
        font-size: var(--display-xxs);
        display: flex;
        flex-wrap: wrap;
    }

    .sml-screen-icons{ 
        font-size: var(--display-xs);
        display: flex;
        flex-wrap: wrap;
        margin-right: 1rem;
    }

    .sml-screen-links{
        flex-wrap: wrap;
    }

    h1{
        font-size: 3rem;
    }


    .sml-screen-basket{
        display:none;
    }

    .sml-screen-text{
        font-size: var(--display-xxs);
    }


  }


  /*****************************************
**********500px**************************
*****************************************/
@media screen and (max-width: 23.75rem){

    .sml-screen-links{
        flex-wrap: wrap;
    }

    h1{
        font-size: 2rem;
    }

  }